@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jomolhari&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jomolhari";
    scroll-behavior: smooth;
}

.container {
    max-width: 1229px !important;
    margin: 0 auto !important;
}

.container-2{
    max-width: 1329px !important;
    margin: 0 auto !important;
}

.container-3{
    max-width: 956px !important;
    margin: 0 auto !important;
}

body {
    background: #000;
}

#section-1{
    background-image: url('./../images/intro_img.png');
    background-size:cover;
    height: 416px;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-container {
    position: relative;
    max-width: 1229px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 94px;
    transition: transform 0.5s ease;
}

.carousel-item {
    cursor: pointer;
    flex: 0 100%;
}

.carousel-item img {
    /* width: 100%; */

    /* height: auto; */
    /* display: block; */
    /* Ensures images behave correctly within flexbox */
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}